html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #009900, #3366ff);
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 20px;
}

    .sidenav a {
        text-decoration: none;
        font-size: 100px;
        height:150px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    #close {
        float:right;
        font-size: 125px;
        margin-left: 50px;
        margin-bottom: 50px;
        color:white;
    }

#main {
    transition: margin-left .2s;
    padding: 16px;
    overflow: visible;
    position: fixed;
    width:100%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.topnavigation {
    height: 10%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

.navigation{
    height:20%;
    width:100%;
    display:block;
    text-align: center;
}

#navlogo {
    float:left;
    width: 60%;
    max-width: 200px;
    height: 50%;
    max-height: 200px;
    top: 20%;
}

#nav-gliph {
    font-size: 100px;
    cursor: pointer;
}